<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estella's Website</title>
    <link rel="icon" type="png" href="../resources/img/logo.png">
    <link rel="stylesheet" href="../resources/css/style.css">
    <script src="https://kit.fontawesome.com/516ea5d673.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="clouds"></div>
    <header>
        <nav class="navbar">
            <input type="checkbox" id="nav-toggle" class="nav-checkbox">
            <label for="nav-toggle" class="nav-button">☰</label>
            
            <ul class="nav-links">
                <li><a href="../index.html">HOME</a></li>
                <li><a href="/views/hobbies.html">HOBBIES</a></li>
                <li><a href="/views/projects.html">PROJECTS</a></li>
                <li><a href="/views/resume.html">RESUME</a></li>
            </ul>
            <div class="logo">
                <p><a href="../index.html">
                    <img src="../resources/img/logo.png" class="logo" alt="logo">
                    </a></p>
            </div>
        </nav>
    </header>
    
    <h1>Resume</h1>


    <div class="resume-container">

        <div class="contact-info">
            <h1>Estella Duong</h1>
            <p>Denver, CO | <a href="mailto:Estella.Duong@Colorado.edu">Estella.Duong@Colorado.edu</a> | 
            <a href="tel:+01-720-486-6770">720-486-6770</a> | <a href="https://www.linkedin.com/in/estella-duong/" target="_blank">LinkedIn</a> | 
                <a href="https://github.com/EstellaDuong" target="_blank">GitHub</a>
            </p>
        </div>
    
        <div class="resume-item">
            <h2>Education</h2>
            <ul>
                <div class="school">
                    <strong>University of Colorado, Boulder, BS in Creative Technology and Design</strong>
                    <p>Sept 2023 – May 2027</p>
                </div>

                <li><strong>GPA:</strong> 3.822/4.0</li>
                <li><strong>Minor:</strong> Computer Science</li>
                <li><strong>Coursework:</strong> Computer Systems, Algorithms, Data Structures, Web Design, Image, Meaning of Information Technology</li>
            </ul>
        </div>
    
        <div class="resume-item">
            <h2>Experience</h2>
            <ul>
                <strong>Business Owner, EsterEggz – Denver, CO</strong>
                <li class="highlight">Successfully built and managed an independent art business, selling prints, enamel pins, keychains, stickers, and handmade crochet plushies both online and at conventions totaling around 3,000+ sales.</li>
                <li class="highlight">Managed around 10k products, their inventory, and fulfillment to meet increasing demand.</li>
                <li class="highlight">Established a loyal customer base and expanded reach through social media and e-commerce platforms, reaching a peak of 730k followers and attending 9 conventions.</li>
            </ul>
        </div>
    
        <div class="resume-item">
            <h2>Projects</h2>
            <ul>
                <strong>2D Animation</strong>
                <li class="highlight">Created an animation that tells a complete story using multiple scenes, featuring digital illustrations, hand-drawn animations, tweening, and transition effects.</li>
                <li class="highlight">Tools Used: Photoshop, Premiere Pro, After Effects, Procreate.</li>
            </ul>
        
                
            <ul>
                <strong>Candy Land</strong>
                <li class="highlight">Developed an interactive board game inspired by Candy Land, featuring multiplayer functionality, quests, and in-game purchases.</li>
                <li class="highlight">Tools Used: C++, VSCode.</li>
            </ul>
        
            <ul>
                <strong>Colorado Symphony Website Design</strong>
                <li class="highlight">Redesigned the Colorado Symphony website with a new color palette, improved accessibility, and enhanced user experience.</li>
                <li class="highlight">Tools Used: HTML, CSS, JavaScript.</li>
            </ul>
        </div>
    
        <div class="resume-item">
            <h2>Technologies</h2>
            <p><strong>Languages:</strong> C++, C, Java, HTML, CSS, JavaScript, Python</p>
            <p><strong>Technologies:</strong> Jupyter Notebook, GitHub, VSCode, Photoshop, Illustrator, Lightroom, Animate, Premiere Pro, After Effects, Clip Studio Paint, Procreate</p>
        </div>

    </div>

    <a href="../resources/files/Estella_Duong_Resume.pdf" target="_blank" download="Estella_Duong_Resume.pdf" class="pdf-button resume">Download PDF</a>
    
    <footer>
        <div class="footer-container">
            <div class="footer-column left">
                <p>Contact Me</p>
                <a style="font-size: 15px;" href="mailto:Estella.Duong@colorado.edu" target="_blank">Estella.Duong@colorado.edu</a>
            </div>
            <div class="footer-column-right">
                <!-- <p>FIND ME</p> -->
                <a href="https://www.instagram.com/esterellyy/" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://github.com/EstellaDuong" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </div>
        </div>
    </footer>
    
</body>
</html>
